<div class="authForm">
  <h3>Логика: ЮЗ ЭДО</h3>

  <!-- <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
      <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
  </nb-alert>

  <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
      <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
  </nb-alert> -->

  <form [formGroup]="authForm" (ngSubmit)="onLogin()">

    <div class="field">
      <label>Логин</label>
      <input nbInput
            fullWidth
            formControlName="username"
            autofocus>
    </div>

    <div class="field">
      <label>Пароль</label>
      <input nbInput
            fullWidth
            formControlName="password"
            type="password">
    </div>

    <button nbButton
            fullWidth
            status="success"
            [disabled]="!authForm.valid">
      Sign In
    </button>
  </form>
</div>
